.ontab {
    box-sizing: border-box;
    position: fixed;
    background: #FFFFFF;
    border: solid 1px darkcyan;
    -webkit-box-shadow: 3px 3px 16px -3px rgba(117, 117, 117, 1);
    -moz-box-shadow: 3px 3px 16px -3px rgba(117, 117, 117, 1);
    box-shadow: 3px 3px 16px -3px rgba(117, 117, 117, 1);
    transition-duration: 0s;
    transition-timing-function: ease;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    top: 50px;
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    border-radius: 50%;
}

.ontab .ontab-content[min-width~="400px"] input {
    background: red;
}

.ontab-header {
    box-sizing: inherit;
    overflow: hidden;
    width: 100%;
    height: auto;
    float: left;
    position: absolute;
    top: -1px;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFFFFF;
}

.ontab-header .ontab-button {
    display: inline;
}

.ontab-title {
    box-sizing: inherit;
    float: left;
    padding: 5px 10px;
    cursor: default;
    min-width: 138px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ontab-content {
    box-sizing: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    float: left;
    word-wrap: break-word;
    margin: 30px 0 0;
}

.ontab-content .material-icons {
    padding-right: 11px;
    float: left;
    margin-top: -4px;
}

.ontab-header .ontab-title:first-letter {
    text-transform: uppercase;
}

.ontab-button {
    float: right;
    width: 50px;
    height: 30px;
    overflow: hidden;
    font-size: 1.1em;
    border: none;
    outline: none;
    cursor: default;
    transition: 1s easy;
    text-align: center;
    padding-top: 3px;
}

.ontab-button:hover {
    background: #DDD;
}

.btn-ontab-maxi .maxi {
    border: solid 1px #111;
    padding: 0 4px;
    font-size: 0.4em;
    float: left;
    height: 10px;
    margin: 7px 0 0 20px;
}

.btn-ontab-close:hover {
    background: orangered;
    color: #FFFFFF;
}

.ontab-blur{
    opacity: 0.8;
    transition: all 0.15s ease;
    filter: blur(8px);
}

@media screen and (max-width: 500px) {
    .btn-ontab-maxi {
        display: none;
    }
}